@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:
    radial-gradient(900px 600px at 20% 10%, rgba(255,255,255,0.06), transparent 60%),
    radial-gradient(900px 600px at 80% 20%, rgba(255,255,255,0.04), transparent 55%),
    #09090b;
}